<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />

    <style>
      table {
        border-collapse: separate;
        border-spacing: 8px;
      }
    </style>
  </head>
  <body class="container">
    <h1 style="text-align: center">curso</h1>

    <table class="table">
      <tr>
        <th>curso</th>
        <th>carga horaria</th>
      </tr>

      <% for(i=0; i < dados.length; i++){ %>

      <tr>
        <td><%= dados[i].DESCRICAO %></td>
        <td><%= dados[i].carga_horaria %></td>
        <td>
          <a class="btn btn-success edit" href="/editar/<%= dados[i].ID %>">
            edit
          </a>
        </td>

        <td>
          <a
            class="btn btn-danger delete"
            onclick="return confirm('deseja excluir?') "
            href="/curso/deletar/<%= dados[i].ID%>"
            >delete</a
          >
        </td>
      </tr>

      <% } %>
    </table>

    <form action="/curso/salvar" method="post">
      <input type="text" name="DESCRICAO" />
      <input
        type="hidden"
        name="carga_horaria"
        value="40"
        readonly="readonly"
      />
      <input type="submit" value="adicionar" class="btn btn-primary" />
    </form>
  </body>
</html>
